body {
  display: flex;
}
.sidebar {
  width: 15%;
  background-color: #000;
  height: 100%;
  position: fixed;
}
.sidebar .sidebar-list {
  list-style-type: none;
  top: 10%;
  width: 100%;
  height: 100%;
}

.sidebar .sidebar-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 20px 0;
}
.sidebar .sidebar-link:hover {
  color: #aaa;
}
.content-Container {
  width: 100%;
  margin: 0 10px 0 16%;
}
.btn-info {
  margin: 10px;
  position: relative;
  left: 93%;
}
